.venv/
logs/nornir.log*
__pycache__
inventory/hosts.yaml
output/*.csv
transport_cache.json

# Ignore production playbook files, but keep examples
playbooks/*.txt
!playbooks/*.example.txt

# Ignore production device filter list, but keep example
inventory/device_filter_list.txt
